@model OrderIndexVM


<div style="margin-left:50px" class="d-flex justify-content-between align-items-center">
    <h1 style="text-align:center;margin: auto;padding: 50px 0;">
        Orders
        <a asp-controller="Order" asp-action="Add" class="btn btn-success">
            <span>
                Add
            </span>
            <i class="fa-solid fa-plus"></i>
        </a>
    </h1>
</div>


<div style="display:flex;flex-wrap:wrap; gap:50px; margin-left:50px">
    @foreach (var order in Model.Orders)
    {
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><b>Product:</b> @order.Product.Name</h5>
                <h5 class="card-title"><b>Customer:</b> @order.Customer.LastName</h5>

                <a asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger">Delete</a>
                <a asp-controller="Order" asp-action="Update" asp-route-id="@order.Id" class="btn btn-warning">Update</a>
            </div>
        </div>
    }

</div>