@model OrderUpdateVM

<h1 style="text-align:center;margin: auto;padding: 50px 0;">Order Update page</h1>

<form asp-controller="Order" asp-action="Add" method="post" class="row g-3" style="margin-left:50px;display:flex; flex-direction:column; gap:10px">
    <div class="text-danger" asp-validation-summary="All">
    </div>


    <div class="col-md-4">
        <label for="1" class="form-label">Order Date</label>
        <input asp-for="OrderDate" type="date" class="form-control" id="1" style="width: 50%;">
        <span class="text-danger" asp-validation-for="OrderDate"></span>
    </div>




    <div class="col-md-4" style="
    flex-direction: column;
    display: flex;
">
        <label for="2" class="form-label">Product</label>
        <select asp-for="ProductId" asp-items="@Model.Products " style="
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 7px;
    border-color: #80808042;
">
            >
            <option>Please select one</option>
        </select>
    </div>



    <div class="col-md-4" style="
    flex-direction: column;
    display: flex;
">
        <label for="2" class="form-label">Customer</label>
        <select asp-for="CustomerId" asp-items="@Model.Customers" style="
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 7px;
    border-color: #80808042;
">
            >
            <option>Please select one</option>
        </select>
    </div>


    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Order</button>
    </div>
</form>

