@model CategoryUpdateVM

@{
    ViewData["Title"] = "Update";
}




<h1 style="text-align:center;margin: auto;padding: 50px 0;">Category Update page</h1>

<form asp-controller="Category" asp-action="Update" method="post" class="row g-3" style="
    padding-left: 50px;">
    <div class="text-danger" asp-validation-summary="All">
    </div>

    <div class="col-md-12">
        <label for="1" class="form-label">Category Name</label>
        <input asp-for="Name" class="form-control" id="1" style="
    width: 25%;
">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
   
  
   
    <input asp-for="Id" type="hidden">




    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update Category</button>
    </div>
</form>

@section ValidationScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
